﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Todo List Application</h1>
</div>
<br>
<div class="text-center">
    <div class="card" style="background-color:#5bc0de;">
        

        <div class="card-body">
            <h5 class="card-title">TodoList</h5>

            <h4>Click here to view: <a asp-action="Index" asp-controller="TodoList">TodoList</a></h4>
        </div>
    </div>
</div>